body,
html {
  width: 100%;
  align-content: center;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto!important;
  overflow: visible!important;
}

.btn-xl {
  padding: 1rem 2rem;
}

.content-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display:grid;
  justify-items: center;
  align-items: center;
}

.w-100vw {
  max-width: 100vw;
}
.social-bar {
  bottom: 1rem;
  left: 2rem;
  position: absolute;
}
.social-bar i {
  color: white;
  transition: all 0.2s ease-in;
}
.social-bar i:hover {
  color: #91b4c6;
}
.display-none {
  display: none;
}
.w-100vw {
  max-width: 100vw;
}
#portfolio {
  padding-bottom: unset;
  background: linear-gradient(0deg,white 0%, lightgray);
  display: flex;
  align-content: center;
}

#portfolio .btn {
  background-color: white;
  font-size: 1.5rem !important;
  color: black;
  border: solid 2px black;
  transition: all 0.35s ease-in;
}

#portfolio .btn:hover {
  background-color: black;
  color: white;
}

.portfolio-window{
  height: 400px;
  padding: unset;
  background: transparent;
}

.portfolio-section {
  background-color: white;
  border-radius: 25px;
  box-shadow: 7px 7px 6px 0 rgba(0,0,0,0.1);
}

.content-section-heading h2 {
  font-size: 3rem;
}

.container-custom{
  width: 100%;
}
.container-custom-portfolio{
  width: 100%;
}
.container-custom-page-top{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(0deg,lightgray, white);
}

h2,
h3,
h4 {
  font-weight: 700;
}

/* Side Menu */
#sidebar-wrapper {
  position: fixed;
  z-index: 3;
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
  background: #568EA3;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  top: 0;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
}

#sidebar-wrapper a {
  width: max-content;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0,0,0,.5);
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 4;
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}

.service-icon {
  background-color: #fff;
  color: #1D809F;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.contactform{
  padding: 5rem 22rem 3rem 22rem;
  border-bottom: medium solid #1d809f;
  border-top: medium solid #1D809F;
}

.contact-form-symbol {
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  border: thin solid #1d809f;
  border-radius: 50%;
  background: #fff;
  transform: translateY(+50%);
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
  height: inherit;
}


.portfolio-item .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  border: 2px solid transparent;
  background-color: rgba(33, 37, 41, 0.31);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

@keyframes anim {
  from {
    transform: translateX(-1000px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes anim1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.img-portfolio {
  object-fit: contain;
  height: inherit;
  width: calc(100% - 1px);
}

.img-photoshoot{
  width: 100%;
  height: auto;
  padding-bottom: 2%;
  padding-top: 2%;
}

.photoshoot-title{
  text-align: left;
  font-family: 'Spectral', serif;
  padding: .5rem;
  border-bottom: solid medium #dadada;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 70%;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1rem;
  word-break: break-word;
  margin-right: 3rem;
}

footer.footer {
  padding-bottom: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}


footer.footer .social-link i{
  color: black;
  transition: all .2s ease-in;
}

footer.footer .social-link:hover i {
  color: #91b4c6;
}

a {
  color: black;
  transition: all 0.2s ease-in;
}

.back {
  color: #91b4c6;
  transition: all 0.2s ease-in;
}

a:hover, a:focus, a:active {
  color: #888e93;
  text-decoration: none;
}

.select-none {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}
.btn-primary {
  background-color: #1D809F !important;
  border-color: #1D809F !important;
  color: #fff !important;
  font-size: 1.5rem !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #155d74 !important;
  border-color: #155d74 !important;
}

.btn {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.text-secondary {
  color: #ecb807 !important;
}

.header{
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.1);
  display: none;
}

.header-menu {
  position: inherit;
  z-index: 0;
  width: 100%;
  box-shadow: 0 10px 12px 0 rgba(0,0,0,0.1);
}

.categories a {
  width: max-content;
}
.modified-row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.carousel-item
{
  height: 100vh;
}
.carousel-item img
{
  height: inherit;
  object-fit: contain;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}
.scrolling-wrapper::-webkit-scrollbar {
  height: 5px;
}
.scrolling-wrapper::-webkit-scrollbar {
  height: 5px;
}

/* Track */
.scrolling-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrolling-wrapper::-webkit-scrollbar-thumb {
  background: #ecb807
}

/* Handle on hover */
.scrolling-wrapper::-webkit-scrollbar-thumb:hover {
  background: #c89e0e;
}

.card {
  display: inline-block;
  border: unset;
}
.contactform form {
  padding-top: 1rem;
}

@media (min-width: 1335px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  #sidebar-wrapper{
    display: none;
  }
  #portfolio-top{
    display: none;
  }
  #menu-button{
    display: none;
  }
}

@media (max-width: 1335px) and (min-width: 992px) {
  .portfolio-item .caption .caption-content p {
    font-weight: 300;
    font-size: 0.8rem;
  }
  .next-button {
    transform: translateY(1rem);
  }
  .contactform {
    padding: 5rem 15rem 5rem 15rem;
  }
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(1rem);
    clip-path: inset(1rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-clip-path: inset(1rem);
    clip-path: inset(1rem);
  }
  #sidebar-wrapper{
    display: none;
  }
  #portfolio-top{
    display: none;
  }
  #menu-button{
    display: none;
  }
}

@media (max-width: 992px) {
  .header {
    display: none!important;
  }
  .header-menu {
    display: none;
  }

  .container-custom-page-top {
    padding-top: unset;
  }

  .next-button {
    transform: translateY(1rem);
  }

  .contactform {
    padding: 5rem 2rem 2rem 2rem;
  }

  .portfolio-section {
    border: thin solid gray;
    width: 95%;
  }

  .content-section {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
  }

  .footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .portfolio-window {
    margin-bottom: 15px;
    padding: 0 1rem;
  }
}
@media (max-width: 576px) {
  .contact-section {
    padding-top: unset;
  }
  .contactform{
    padding: 3.5rem 2rem;
  }
  .about_us-section {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
@media (max-width: 340px) {
  .portfolio_title{
    font-size: 2.5rem!important;
  }
  .contactform
  {
    padding: 3.5rem 1rem;
  }
}
