<div class="dropdown-menu" aria-labelledby="pagesDropdown">
    {% for category in categories %}
        <a class="dropdown-item" href="{{ path('adminPortfolioCategory', {'slug' : category.slug}) }}">{{ category.name }}</a>
    {% endfor %}
    <a class="dropdown-item" href="{{ path('addCategory') }}">Add Category</a>
</div>