<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stylish Portfolio</title>

    {% block stylesheets %}
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/css/stylish-portfolio.css" rel="stylesheet">
    {% endblock %}
</head>

<!-- Header -->
{% block header %}
<header>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light header">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <h3><a class="nav-link m-1" href="#page-top">Home</a></h3>
                        </li>
                        <li class="nav-item">
                            <h3><a class="nav-link m-1" href="#portfolio">Portfolio</a></h3>
                        </li>
                        <li class="nav-item">
                            <h3><a class="nav-link m-1" href="#services">Services</a></h3>
                        </li>
                        <li class="nav-item">
                            <h3><a class="nav-link m-1" href="#about">About</a></h3>
                        </li>
                        <li class="nav-item">
                            <h3><a class="nav-link m-1" href="#contact">Contact</a></h3>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- Navigation -->
<a class="menu-toggle rounded" id="menu-button" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <h3><a class="nav-link m-1" href="#page-top">Home</a></h3>
        </li>
        <li class="sidebar-nav-item">
            <h3><a class="nav-link m-1" href="#portfolio">Potrfolio</a></h3>
        </li>
        <li class="sidebar-nav-item">
            <h3><a class="nav-link m-1" href="#services">Services</a></h3>
        </li>
        <li class="sidebar-nav-item">
            <h3><a class="nav-link m-1" href="#about">About</a></h3>
        </li>
        <li class="sidebar-nav-item">
            <h3><a class="nav-link m-1" href="#contact">Contact</a></h3>
        </li>
    </ul>
</nav>
{% endblock %}
{% block body %}

{% endblock %}
<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <ul class="list-inline mb-3">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/profile.php?id=100012294073975" target="_blank">
                    <i class="icon-social-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://www.behance.net/linapatskevich" target="_blank">
                    <i class="icon-social-behance"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white" href="https://www.instagram.com/katyastarodubova/" target="_blank">
                    <i class="icon-social-instagram"></i>
                </a>
            </li>
        </ul>
        <p class="text-muted small mb-0">Copyright &copy; Your Website 2019</p>
    </div>
</footer>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
{% block js %}
<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/js/stylish-portfolio.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
{% endblock %}
</body>

</html>