<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>katya starodubova</title>

    {% block stylesheets %}
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Spectral&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('vendor/fancybox/jquery.fancybox.min.css') }}">


        <!-- Custom CSS -->
        <link href="/css/stylish-portfolio.css" rel="stylesheet">
    {% endblock %}
</head>

{% block header %}
<!-- Header -->
<header id="header">
    {{ render(controller('App\\Controller\\DefaultController::renderHeader')) }}
</header>
<!-- Navigation -->
<div id="sidebar">
    {{ render(controller('App\\Controller\\DefaultController::renderMobileHeader')) }}
</div>
{% endblock %}
{% block body %}

{% endblock %}

<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="social-link mx-2 my-1" href="https://www.facebook.com/profile.php?id=100012294073975" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="social-link mx-2 my-1" href="https://www.instagram.com/katyastarodubova/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="social-link mx-2 my-1" href="mailto:katyastarodubova.stylist@gmail.com" target="_blank">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>

{% block js %}
<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- Plugin JavaScript -->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/vendor/fancybox/jquery.fancybox.min.js"></script>


<!-- Custom scripts for this template -->
<script src="/js/stylish-portfolio.js"></script>
{% endblock %}

</html>
